nav {
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ab1414;
  height: 50%;
}

.navbar-img {
  width: 200px;
  justify-content: center;
  margin: auto;
  padding: 0;
  margin-top: 2%;
  padding-bottom: 4px;
}
